@* @inherits User *@
@* @attribute [Authorize(Roles = "administrator, manager")]
@attribute [Authorize] *@

@page "/authorizedonly"


<h3>AuthorizedOnlyPage</h3>

<p>This is a work in progress section...</p>

@code {

}
