@inject ApplicationDbContext _dbContext;

@page "/client-appointment-list";
@using GymSync.Components;
@using GymSync.Data;
@using GymSync.Models;
@using GymSync.Views;
@using Microsoft.EntityFrameworkCore;

<h3>ClientAppointmentList</h3>

<p>This page is for displaying all of a client's appointments</p>

@code {

}
