@inject ApplicationDbContext DbContext

@page "/"
@using GymSync.Data
@using GymSync.Models
@using Microsoft.EntityFrameworkCore;



<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h3> Users List </h3>
<ul>
	@foreach (var trainer in trainers)
	{
		<li>@trainer.trainer_id</li>
				
	}
</ul>

@code{
	private List<TrainerEntity> trainers = new();

	protected override async Task OnInitializedAsync()
	{
		trainers = await DbContext.TRAINER.ToListAsync();	
	}
}
