@inject ApplicationDbContext DbContext

@page "/"
@using GymSync.Data
@using GymSync.Models
@using Microsoft.EntityFrameworkCore;



<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h3> Users List </h3>
<ul>
	@foreach (var job in joblist)
	{
		<li>@job.job_id @job.job_name @job.job_description @job.hourly_wage</li>
				
	}
</ul>

@code{
	private List<JobEntity> joblist = new();

	protected override async Task OnInitializedAsync()
	{
		joblist = await DbContext.JOB.ToListAsync();	
	}
}
