@inject ApplicationDbContext DbContext

@page "/"
@using GymSync.Data
@using GymSync.Models
@using Microsoft.EntityFrameworkCore;

@*just a comment for push new branch*@


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h3> Users List </h3>
<ul>
	@foreach (var item in itemlist)
	{
		<li>@item.user_id @item.trainer_id </li>
				
	}
</ul>

@code{
	private List<User_x_TrainerEntity> itemlist = new();

	protected override async Task OnInitializedAsync()
	{
		itemlist = await DbContext.USER_x_TRAINER.ToListAsync();	
	}
}
