@inject ApplicationDbContext DbContext

@page "/"
@using GymSync.Data
@using GymSync.Models
@using Microsoft.EntityFrameworkCore;

@*just a comment for push new branch*@


<PageTitle>Home</PageTitle>
<body>
	<h1>Hello, User, welcome to GymSync!</h1>

	<p>This is the main page of the GymSync application</p>

	@if (_isTrainer)
	{
		<div class="trainer-section">
			This is the trainer section.
		</div>
	}

	@if (_isStaff)
	{
		<div class="staff-section">
			This is the staff section.
		</div>
	}
	@if (_isClient)
	{
		<div class="client-section">
			This is the client section.
		</div>
	}



</body>


@code{

	//variables for determining the view
	//userID will be used to lookup the other ID's and determine if the user belongs to those classes
	private int _userID;
	private int _trainerID;
	private int _staffID;
	private int _clientID;

	private bool _isTrainer = true;
	private bool _isStaff = true;
	private bool _isClient = true;

}
