@layout LoginLayout
@page "/privacypolicy"

<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type">
	<style type="text/css">
		ol {
			margin: 0;
			padding: 0
		}

		table td, table th {
			padding: 0
		}

		.c5 {
			border-right-style: solid;
			padding: 10.8pt 10.8pt 10.8pt 10.8pt;
			border-bottom-color: #000000;
			border-top-width: 0pt;
			border-right-width: 0pt;
			border-left-color: #000000;
			vertical-align: top;
			border-right-color: #000000;
			border-left-width: 0pt;
			border-top-style: solid;
			background-color: #1155cc;
			border-left-style: solid;
			border-bottom-width: 0pt;
			width: 487.3pt;
			border-top-color: #000000;
			border-bottom-style: solid
		}

		.c14 {
			border-right-style: solid;
			padding: 5pt 5pt 5pt 5pt;
			border-bottom-color: #000000;
			border-top-width: 1pt;
			border-right-width: 1pt;
			border-left-color: #000000;
			vertical-align: top;
			border-right-color: #000000;
			border-left-width: 1pt;
			border-top-style: solid;
			background-color: #fff2cc;
			border-left-style: solid;
			border-bottom-width: 1pt;
			width: 487.3pt;
			border-top-color: #000000;
			border-bottom-style: solid
		}

		.c6 {
			border-right-style: solid;
			padding: 8.6pt 8.6pt 8.6pt 8.6pt;
			border-bottom-color: #000000;
			border-top-width: 0pt;
			border-right-width: 0pt;
			border-left-color: #000000;
			vertical-align: top;
			border-right-color: #000000;
			border-left-width: 0pt;
			border-top-style: solid;
			background-color: #f3f3f3;
			border-left-style: solid;
			border-bottom-width: 0pt;
			width: 487.3pt;
			border-top-color: #000000;
			border-bottom-style: solid
		}

		.c2 {
			border-right-style: solid;
			padding: 5pt 5pt 5pt 5pt;
			border-bottom-color: #000000;
			border-top-width: 0pt;
			border-right-width: 0pt;
			border-left-color: #000000;
			vertical-align: top;
			border-right-color: #000000;
			border-left-width: 0pt;
			border-top-style: solid;
			border-left-style: solid;
			border-bottom-width: 0pt;
			width: 487.3pt;
			border-top-color: #000000;
			border-bottom-style: solid
		}

		.c0 {
			padding-top: 0pt;
			padding-bottom: 0pt;
			line-height: 1.15;
			orphans: 2;
			widows: 2;
			text-align: left;
			height: 11pt
		}

		.c28 {
			color: #c9daf8;
			font-weight: 400;
			text-decoration: none;
			vertical-align: baseline;
			font-size: 9pt;
			font-family: "Arial";
			font-style: normal
		}

		.c25 {
			color: #000000;
			font-weight: 400;
			text-decoration: none;
			vertical-align: baseline;
			font-size: 20pt;
			font-family: "Arial";
			font-style: normal
		}

		.c30 {
			padding-top: 0pt;
			padding-bottom: 3pt;
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: center
		}

		.c31 {
			color: #000000;
			font-weight: 400;
			text-decoration: none;
			vertical-align: baseline;
			font-size: 26pt;
			font-family: "Arial";
			font-style: normal
		}

		.c4 {
			color: #000000;
			font-weight: 400;
			text-decoration: none;
			vertical-align: baseline;
			font-size: 11pt;
			font-family: "Arial";
			font-style: normal
		}

		.c12 {
			padding-top: 0pt;
			padding-bottom: 0pt;
			line-height: 1.15;
			orphans: 2;
			widows: 2;
			text-align: center;
			height: 11pt
		}

		.c24 {
			color: #ffffff;
			font-weight: 400;
			text-decoration: none;
			vertical-align: baseline;
			font-size: 11pt;
			font-family: "Arial";
			font-style: normal
		}

		.c23 {
			padding-top: 20pt;
			padding-bottom: 6pt;
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		.c8 {
			color: #000000;
			font-weight: 700;
			text-decoration: none;
			vertical-align: baseline;
			font-size: 11pt;
			font-family: "Arial";
			font-style: normal
		}

		.c21 {
			color: #999999;
			font-weight: 400;
			text-decoration: none;
			vertical-align: baseline;
			font-size: 9pt;
			font-family: "Arial";
			font-style: normal
		}

		.c3 {
			color: #000000;
			font-weight: 400;
			text-decoration: none;
			vertical-align: baseline;
			font-size: 9pt;
			font-family: "Arial";
			font-style: normal
		}

		.c1 {
			padding-top: 0pt;
			padding-bottom: 0pt;
			line-height: 1.15;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		.c13 {
			text-decoration-skip-ink: none;
			font-size: 9pt;
			-webkit-text-decoration-skip: none;
			color: #999999;
			text-decoration: underline
		}

		.c18 {
			margin-left: auto;
			border-spacing: 0;
			border-collapse: collapse;
			margin-right: auto
		}

		.c22 {
			text-decoration-skip-ink: none;
			-webkit-text-decoration-skip: none;
			color: #ffffff;
			text-decoration: underline
		}

		.c20 {
			text-decoration-skip-ink: none;
			-webkit-text-decoration-skip: none;
			color: #1155cc;
			text-decoration: underline
		}

		.c10 {
			padding-top: 0pt;
			padding-bottom: 0pt;
			line-height: 1.0;
			text-align: left
		}

		.c19 {
			border-spacing: 0;
			border-collapse: collapse;
			margin-right: auto
		}

		.c17 {
			padding-top: 0pt;
			padding-bottom: 0pt;
			line-height: 1.0;
			text-align: center
		}

		.c9 {
			background-color: #ffffff;
			max-width: 487.3pt;
			padding: 54pt 54pt 54pt 54pt
		}

		.c26 {
			color: #999999;
			font-size: 9pt
		}

		.c11 {
			color: inherit;
			text-decoration: inherit
		}

		.c27 {
			font-weight: 700
		}

		.c16 {
			height: 11pt
		}

		.c15 {
			background-color: #fff2cc
		}

		.c29 {
			font-size: 9pt
		}

		.c7 {
			height: 0pt
		}

		.title {
			padding-top: 0pt;
			color: #000000;
			font-size: 26pt;
			padding-bottom: 3pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		.subtitle {
			padding-top: 0pt;
			color: #666666;
			font-size: 15pt;
			padding-bottom: 16pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		li {
			color: #000000;
			font-size: 11pt;
			font-family: "Arial"
		}

		p {
			margin: 0;
			color: #000000;
			font-size: 11pt;
			font-family: "Arial"
		}

		h1 {
			padding-top: 20pt;
			color: #000000;
			font-size: 20pt;
			padding-bottom: 6pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		h2 {
			padding-top: 18pt;
			color: #000000;
			font-size: 16pt;
			padding-bottom: 6pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		h3 {
			padding-top: 16pt;
			color: #434343;
			font-size: 14pt;
			padding-bottom: 4pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		h4 {
			padding-top: 14pt;
			color: #666666;
			font-size: 12pt;
			padding-bottom: 4pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		h5 {
			padding-top: 12pt;
			color: #666666;
			font-size: 11pt;
			padding-bottom: 4pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		h6 {
			padding-top: 12pt;
			color: #666666;
			font-size: 11pt;
			padding-bottom: 4pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			font-style: italic;
			orphans: 2;
			widows: 2;
			text-align: left
		}</style>
</head>
<body class="c9 doc-content">
	<p class="c0"><span class="c4"></span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c12"><span class="c4"></span></p>
	<p class="c30 title" id="h.o57rgzsimwia"><span class="c31">Privacy Policy</span></p>
	<hr>
	<p class="c0"><span class="c4"></span></p>
	<h1 class="c23" id="h.fznxgpf623a1"><span class="c25">Privacy Policy</span></h1>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span>Last updated: </span><span class="c4">2/22/2025</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span>GymSyn LLC</span><span>&nbsp;(&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;) operates </span><span>http://www.gymsync.com (change this)</span><span class="c4">&nbsp;(the &quot;Site&quot;). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c4">We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c8">Information Collection And Use</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c4">While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name (&quot;Personal Information&quot;).</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c8">Log Data</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c4">Like many site operators, we collect information that your browser sends whenever you visit our Site (&quot;Log Data&quot;).</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c4">This Log Data may include information such as your computer&#39;s Internet Protocol (&quot;IP&quot;) address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c4">In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this &hellip;</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c8">Communications</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c4">We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that ...</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c8">Cookies</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c4">Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer&#39;s hard drive.</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c4">Like many sites, we use &quot;cookies&quot; to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c8">Security</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c4">The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c27">Changes To This Privacy Policy</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span>This Privacy Policy is effective as of </span><span>2/22/2025</span><span class="c4">&nbsp;and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c4">We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c4">If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c8">Contact Us</span></p>
	<p class="c0"><span class="c4"></span></p>
	<p class="c1"><span class="c4">If you have any questions about this Privacy Policy, please contact us at <a href="mailto:webmaster@gymsync.com">webmaster@gymsync.com</a>.</span></p>
	<p class="c10 c16"><span class="c4"></span></p>
	<p class="c0"><span class="c4"></span></p>
</body>
</html>