@layout LoginLayout
@page "/resetpassword"
@rendermode InteractiveServer



<section class="vh-100" style="background-color: #fefefe;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Password Reset</h5>
                                <p class="card-text">To reset your password, enter the email address you registered with.</p>

                                @* Input Email Address *@
                                <InputText type="email" id="resetviaemail" class="form-control form-control-lg" @bind-Value="emailAddress" placeholder="Email Address" />

                                <br />

                                @* Reset Password Button *@
                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" @onclick="resetPassword">Reset Password</button>

                            </div>
                        </div>

                        @* Alerts for valid and invalid login *@
                        <div class="alert alert-primary" role="alert" hidden="@hideWarning">
                            @warning
                        </div>
                        <div class="alert alert-success" role="alert" hidden="@hideSuccess">
                            @success
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@code {
    private string? emailAddress;                                               // Variable to hold the Email Address entered in the form
    private string  warning = "Please enter a valid email address!";            // Warning message used for when a user enters the wron email/password combo
    private string  success = "Got it! Check your email for the next steps.";   // Message used for successful login
    private bool    hideWarning { get; set; } = true;                           // Source: https://getbootstrap.com/docs/4.0/components/alerts/
    private bool    hideSuccess { get; set; } = true;                           // Source: https://getbootstrap.com/docs/4.0/components/alerts/

    private void resetPassword()
    {
        // Write to the console for debuggin purposes:
        System.Diagnostics.Debug.WriteLine("Email Address: " + emailAddress);

        if (string.IsNullOrEmpty(emailAddress))
        {
            hideWarning = !hideWarning;
            hideSuccess = true;
        }
        else
        {
            hideSuccess = !hideSuccess;
            hideWarning = true;
        }
    }
}