@layout LoginLayout
@page "/resetpassword"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        <!-- Add space between terms of use and privacy policy tags -->
        a + a {
            margin-left: 10px;
        }

    </style>
</head>
<body>
    <section class="vh-100" style="background-color: #fefefe;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Password Reset</h5>
                                    <p class="card-text">To reset your password, enter the email address you registered with.</p>
                                    <input type="email" id="resetviaemail" class="form-control form-control-lg" /><br />
                                    <button type="button" class="btn btn-primary">Reset Password</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


@code {

}