@layout LoginLayout
@page "/tos"

<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type">
	<style type="text/css">
		.lst-kix_uo7wgjqjq74y-6 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_uo7wgjqjq74y-7 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_uo7wgjqjq74y-8 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_uo7wgjqjq74y-1 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_uo7wgjqjq74y-2 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_uo7wgjqjq74y-5 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_uo7wgjqjq74y-3 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_uo7wgjqjq74y-4 > li:before {
			content: "\0025cb   "
		}

		ul.lst-kix_e0kf0eyg794g-0 {
			list-style-type: none
		}

		ul.lst-kix_e0kf0eyg794g-2 {
			list-style-type: none
		}

		ul.lst-kix_e0kf0eyg794g-1 {
			list-style-type: none
		}

		.lst-kix_y2y9lt6ntaac-8 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_3nwicm5nd7hx-1 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_3nwicm5nd7hx-0 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_3nwicm5nd7hx-2 > li:before {
			content: "\0025a0   "
		}

		ul.lst-kix_vtc8flivg2z8-0 {
			list-style-type: none
		}

		ul.lst-kix_vtc8flivg2z8-1 {
			list-style-type: none
		}

		.lst-kix_3nwicm5nd7hx-4 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_3nwicm5nd7hx-3 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_3nwicm5nd7hx-8 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_y2y9lt6ntaac-7 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_y2y9lt6ntaac-6 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_y2y9lt6ntaac-5 > li:before {
			content: "\0025a0   "
		}

		ul.lst-kix_nxuk3huerspi-8 {
			list-style-type: none
		}

		.lst-kix_3nwicm5nd7hx-5 > li:before {
			content: "\0025a0   "
		}

		ul.lst-kix_vtc8flivg2z8-6 {
			list-style-type: none
		}

		ul.lst-kix_vtc8flivg2z8-7 {
			list-style-type: none
		}

		ul.lst-kix_nxuk3huerspi-6 {
			list-style-type: none
		}

		.lst-kix_3nwicm5nd7hx-6 > li:before {
			content: "\0025cf   "
		}

		ul.lst-kix_vtc8flivg2z8-8 {
			list-style-type: none
		}

		ul.lst-kix_nxuk3huerspi-7 {
			list-style-type: none
		}

		ul.lst-kix_nxuk3huerspi-4 {
			list-style-type: none
		}

		.lst-kix_3nwicm5nd7hx-7 > li:before {
			content: "\0025cb   "
		}

		ul.lst-kix_vtc8flivg2z8-2 {
			list-style-type: none
		}

		ul.lst-kix_nxuk3huerspi-5 {
			list-style-type: none
		}

		ul.lst-kix_vtc8flivg2z8-3 {
			list-style-type: none
		}

		.lst-kix_y2y9lt6ntaac-4 > li:before {
			content: "\0025cb   "
		}

		ul.lst-kix_nxuk3huerspi-2 {
			list-style-type: none
		}

		ul.lst-kix_vtc8flivg2z8-4 {
			list-style-type: none
		}

		ul.lst-kix_nxuk3huerspi-3 {
			list-style-type: none
		}

		.lst-kix_vtc8flivg2z8-1 > li:before {
			content: "\0025cb   "
		}

		ul.lst-kix_vtc8flivg2z8-5 {
			list-style-type: none
		}

		.lst-kix_y2y9lt6ntaac-1 > li:before {
			content: "\0025cb   "
		}

		ul.lst-kix_nxuk3huerspi-0 {
			list-style-type: none
		}

		ul.lst-kix_nxuk3huerspi-1 {
			list-style-type: none
		}

		.lst-kix_vtc8flivg2z8-2 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_y2y9lt6ntaac-3 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_y2y9lt6ntaac-2 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_vtc8flivg2z8-3 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_vtc8flivg2z8-4 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_vtc8flivg2z8-6 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_uo7wgjqjq74y-0 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_y2y9lt6ntaac-0 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_vtc8flivg2z8-5 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_vtc8flivg2z8-8 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_e0kf0eyg794g-0 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_vtc8flivg2z8-7 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_e0kf0eyg794g-8 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_e0kf0eyg794g-6 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_e0kf0eyg794g-7 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_e0kf0eyg794g-1 > li:before {
			content: "\0025cb   "
		}

		ul.lst-kix_2e6le8avszvs-2 {
			list-style-type: none
		}

		ul.lst-kix_2e6le8avszvs-3 {
			list-style-type: none
		}

		ul.lst-kix_2e6le8avszvs-0 {
			list-style-type: none
		}

		.lst-kix_e0kf0eyg794g-2 > li:before {
			content: "\0025a0   "
		}

		ul.lst-kix_2e6le8avszvs-1 {
			list-style-type: none
		}

		.lst-kix_e0kf0eyg794g-3 > li:before {
			content: "\0025cf   "
		}

		ul.lst-kix_y2y9lt6ntaac-0 {
			list-style-type: none
		}

		.lst-kix_e0kf0eyg794g-4 > li:before {
			content: "\0025cb   "
		}

		ul.lst-kix_y2y9lt6ntaac-1 {
			list-style-type: none
		}

		ul.lst-kix_y2y9lt6ntaac-2 {
			list-style-type: none
		}

		ul.lst-kix_y2y9lt6ntaac-3 {
			list-style-type: none
		}

		ul.lst-kix_2e6le8avszvs-8 {
			list-style-type: none
		}

		ul.lst-kix_y2y9lt6ntaac-4 {
			list-style-type: none
		}

		ul.lst-kix_y2y9lt6ntaac-5 {
			list-style-type: none
		}

		ul.lst-kix_2e6le8avszvs-6 {
			list-style-type: none
		}

		ul.lst-kix_y2y9lt6ntaac-6 {
			list-style-type: none
		}

		ul.lst-kix_2e6le8avszvs-7 {
			list-style-type: none
		}

		.lst-kix_e0kf0eyg794g-5 > li:before {
			content: "\0025a0   "
		}

		ul.lst-kix_y2y9lt6ntaac-7 {
			list-style-type: none
		}

		ul.lst-kix_2e6le8avszvs-4 {
			list-style-type: none
		}

		ul.lst-kix_y2y9lt6ntaac-8 {
			list-style-type: none
		}

		ul.lst-kix_2e6le8avszvs-5 {
			list-style-type: none
		}

		.lst-kix_2m9t0o5yifo1-2 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_nxuk3huerspi-7 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_vtc8flivg2z8-0 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_nxuk3huerspi-5 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_2m9t0o5yifo1-3 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_nxuk3huerspi-6 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_2m9t0o5yifo1-0 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_2m9t0o5yifo1-8 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_2m9t0o5yifo1-1 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_nxuk3huerspi-0 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_nxuk3huerspi-8 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_nxuk3huerspi-1 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_2m9t0o5yifo1-7 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_nxuk3huerspi-2 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_2m9t0o5yifo1-6 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_nxuk3huerspi-3 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_2m9t0o5yifo1-4 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_2m9t0o5yifo1-5 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_nxuk3huerspi-4 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_2e6le8avszvs-4 > li:before {
			content: "\0025cb   "
		}

		.lst-kix_2e6le8avszvs-5 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_2e6le8avszvs-2 > li:before {
			content: "\0025a0   "
		}

		.lst-kix_2e6le8avszvs-6 > li:before {
			content: "\0025cf   "
		}

		.lst-kix_2e6le8avszvs-3 > li:before {
			content: "\0025cf   "
		}

		ul.lst-kix_e0kf0eyg794g-8 {
			list-style-type: none
		}

		ul.lst-kix_e0kf0eyg794g-7 {
			list-style-type: none
		}

		.lst-kix_2e6le8avszvs-8 > li:before {
			content: "\0025a0   "
		}

		ul.lst-kix_e0kf0eyg794g-4 {
			list-style-type: none
		}

		ul.lst-kix_e0kf0eyg794g-3 {
			list-style-type: none
		}

		.lst-kix_2e6le8avszvs-7 > li:before {
			content: "\0025cb   "
		}

		ul.lst-kix_e0kf0eyg794g-6 {
			list-style-type: none
		}

		ul.lst-kix_e0kf0eyg794g-5 {
			list-style-type: none
		}

		li.li-bullet-0:before {
			margin-left: -18pt;
			white-space: nowrap;
			display: inline-block;
			min-width: 18pt
		}

		ul.lst-kix_uo7wgjqjq74y-6 {
			list-style-type: none
		}

		ul.lst-kix_2m9t0o5yifo1-2 {
			list-style-type: none
		}

		ul.lst-kix_uo7wgjqjq74y-7 {
			list-style-type: none
		}

		ul.lst-kix_2m9t0o5yifo1-1 {
			list-style-type: none
		}

		ul.lst-kix_uo7wgjqjq74y-4 {
			list-style-type: none
		}

		ul.lst-kix_2m9t0o5yifo1-4 {
			list-style-type: none
		}

		ul.lst-kix_uo7wgjqjq74y-5 {
			list-style-type: none
		}

		ul.lst-kix_2m9t0o5yifo1-3 {
			list-style-type: none
		}

		ul.lst-kix_uo7wgjqjq74y-2 {
			list-style-type: none
		}

		ul.lst-kix_2m9t0o5yifo1-6 {
			list-style-type: none
		}

		ul.lst-kix_uo7wgjqjq74y-3 {
			list-style-type: none
		}

		ul.lst-kix_2m9t0o5yifo1-5 {
			list-style-type: none
		}

		ul.lst-kix_3nwicm5nd7hx-8 {
			list-style-type: none
		}

		ul.lst-kix_uo7wgjqjq74y-0 {
			list-style-type: none
		}

		ul.lst-kix_2m9t0o5yifo1-8 {
			list-style-type: none
		}

		ul.lst-kix_3nwicm5nd7hx-7 {
			list-style-type: none
		}

		ul.lst-kix_uo7wgjqjq74y-1 {
			list-style-type: none
		}

		ul.lst-kix_2m9t0o5yifo1-7 {
			list-style-type: none
		}

		ul.lst-kix_3nwicm5nd7hx-6 {
			list-style-type: none
		}

		ul.lst-kix_3nwicm5nd7hx-5 {
			list-style-type: none
		}

		.lst-kix_2e6le8avszvs-1 > li:before {
			content: "\0025cb   "
		}

		ul.lst-kix_3nwicm5nd7hx-4 {
			list-style-type: none
		}

		ul.lst-kix_3nwicm5nd7hx-3 {
			list-style-type: none
		}

		ul.lst-kix_3nwicm5nd7hx-2 {
			list-style-type: none
		}

		ul.lst-kix_3nwicm5nd7hx-1 {
			list-style-type: none
		}

		ul.lst-kix_3nwicm5nd7hx-0 {
			list-style-type: none
		}

		ul.lst-kix_uo7wgjqjq74y-8 {
			list-style-type: none
		}

		ul.lst-kix_2m9t0o5yifo1-0 {
			list-style-type: none
		}

		.lst-kix_2e6le8avszvs-0 > li:before {
			content: "\0025cf   "
		}

		ol {
			margin: 0;
			padding: 0
		}

		table td, table th {
			padding: 0
		}

		.c1 {
			margin-left: 36pt;
			padding-top: 12pt;
			padding-left: 0pt;
			padding-bottom: 12pt;
			line-height: 1.15;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		.c6 {
			color: #000000;
			font-weight: 700;
			text-decoration: none;
			vertical-align: baseline;
			font-size: 13pt;
			font-family: "Arial";
			font-style: normal
		}

		.c7 {
			color: #000000;
			font-weight: 700;
			text-decoration: none;
			vertical-align: baseline;
			font-size: 11pt;
			font-family: "Arial";
			font-style: normal
		}

		.c0 {
			color: #000000;
			font-weight: 400;
			text-decoration: none;
			vertical-align: baseline;
			font-size: 11pt;
			font-family: "Arial";
			font-style: normal
		}

		.c5 {
			color: #000000;
			font-weight: 700;
			text-decoration: none;
			vertical-align: baseline;
			font-size: 10.5pt;
			font-family: "Arial";
			font-style: normal
		}

		.c14 {
			padding-top: 14pt;
			padding-bottom: 4pt;
			line-height: 1.15;
			orphans: 2;
			widows: 2;
			text-align: center
		}

		.c8 {
			padding-top: 12pt;
			padding-bottom: 2pt;
			line-height: 1.15;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		.c4 {
			padding-top: 12pt;
			padding-bottom: 12pt;
			line-height: 1.15;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		.c2 {
			padding-top: 0pt;
			padding-bottom: 0pt;
			line-height: 1.15;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		.c13 {
			text-decoration-skip-ink: none;
			-webkit-text-decoration-skip: none;
			color: #1155cc;
			text-decoration: underline
		}

		.c10 {
			background-color: #ffffff;
			max-width: 468pt;
			padding: 72pt 72pt 72pt 72pt
		}

		.c12 {
			color: inherit;
			text-decoration: inherit
		}

		.c9 {
			margin-left: 72pt;
			padding-left: 0pt
		}

		.c3 {
			padding: 0;
			margin: 0
		}

		.c11 {
			font-weight: 700
		}

		.title {
			padding-top: 0pt;
			color: #000000;
			font-size: 26pt;
			padding-bottom: 3pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		.subtitle {
			padding-top: 0pt;
			color: #666666;
			font-size: 15pt;
			padding-bottom: 16pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		li {
			color: #000000;
			font-size: 11pt;
			font-family: "Arial"
		}

		p {
			margin: 0;
			color: #000000;
			font-size: 11pt;
			font-family: "Arial"
		}

		h1 {
			padding-top: 20pt;
			color: #000000;
			font-size: 20pt;
			padding-bottom: 6pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		h2 {
			padding-top: 18pt;
			color: #000000;
			font-size: 16pt;
			padding-bottom: 6pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		h3 {
			padding-top: 16pt;
			color: #434343;
			font-size: 14pt;
			padding-bottom: 4pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		h4 {
			padding-top: 14pt;
			color: #666666;
			font-size: 12pt;
			padding-bottom: 4pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		h5 {
			padding-top: 12pt;
			color: #666666;
			font-size: 11pt;
			padding-bottom: 4pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			orphans: 2;
			widows: 2;
			text-align: left
		}

		h6 {
			padding-top: 12pt;
			color: #666666;
			font-size: 11pt;
			padding-bottom: 4pt;
			font-family: "Arial";
			line-height: 1.15;
			page-break-after: avoid;
			font-style: italic;
			orphans: 2;
			widows: 2;
			text-align: left
		}</style>
</head>
<body class="c10 doc-content">
	<h3 class="c14" id="h.tnqa6yuwr1ql"><span class="c6">Terms of Service</span></h3>
	<h4 class="c8" id="h.2vb2ykkkbwdv"><span class="c5">1. Introduction</span></h4>
	<p class="c4"><span class="c0">Last updated 2/22/2025</span></p>
	<p class="c4"><span class="c0">Our aim is to keep this Agreement as readable as possible, but in some cases for legal reasons, some of the language is required &quot;legalese&quot;.</span></p>
	<h4 class="c8" id="h.ta44j4w0r80f"><span class="c5">2. Your Acceptance of this Agreement</span></h4>
	<p class="c4"><span class="c0">These terms of service are entered into by and between You and Enzuzo, Inc. (&quot;Company,&quot; &quot;we,&quot; &quot;our,&quot; or &quot;us&quot;). Our VAT number is 314159. The following terms and conditions, together with any documents they expressly incorporate by reference (collectively &quot;Terms of Service&quot;), govern your access to and use of www.enzuzo.com, including any content, functionality, and services offered on or through www.enzuzo.com (the &quot;Website&quot;).</span></p>
	<p class="c4"><span class="c0">Please read the Terms of Service carefully before you start to use the Website.</span></p>
	<p class="c4"><span class="c0">By using the Website [or by clicking to accept or agree to the Terms of Service when this option is made available to you], you accept and agree to be bound and abide by these Terms of Service and our Privacy Policy, found at /privacy-policy, incorporated herein by reference. If you do not want to agree to these Terms of Service, you must not access or use the Website.</span></p>
	<p class="c4"><span class="c0">You must be at least 13 years old to use this Website. However, children of all ages may use the Website if enabled by a parent or legal guardian. If you are under 18, you represent that you have your parent or guardian&#39;s permission to use the Website. Please have them read these Terms of Service with you.</span></p>
	<p class="c4"><span class="c0">If you are a parent or legal guardian of a user under the age of 18, by allowing your child to use the Website, you are subject to the terms of these Terms of Service and responsible for your child&#39;s activity on the Website.</span></p>
	<p class="c4"><span class="c7">BY ACCESSING AND USING THIS WEBSITE, YOU:</span></p>
	<p class="c4"><span class="c7">ACCEPT AND AGREE TO BE BOUND AND COMPLY WITH THESE TERMS OF SERVICE;</span></p>
	<p class="c4"><span class="c7">YOU REPRESENT AND WARRANT THAT YOU ARE THE LEGAL AGE OF MAJORITY UNDER APPLICABLE LAW TO FORM A BINDING CONTRACT WITH US; AND,</span></p>
	<p class="c4"><span class="c7">YOU AGREE IF YOU ACCESS THE WEBSITE FROM A JURISDICTION WHERE IT IS NOT PERMITTED, YOU DO SO AT YOUR OWN RISK.</span></p>
	<h4 class="c8" id="h.y22hr7it61r8"><span class="c5">3. Updates to Terms of Service</span></h4>
	<p class="c4"><span class="c0">We may revise and update these Terms of Service from time to time in our sole discretion. All changes are effective immediately when we post them and apply to all access to and use of the Website thereafter.</span></p>
	<p class="c4"><span class="c0">Continuing to use the Website following the posting of revised Terms of Service means that you accept and agree to the changes. You are expected to check this page each time you access this Website so you are aware of any changes, as they are binding on you.</span></p>
	<h4 class="c8" id="h.l4m72hg6w90b"><span class="c5">4. Your Responsibilities</span></h4>
	<p class="c4"><span class="c0">You are required to ensure that all persons who access the Website are aware of this Agreement and comply with it. It is a condition of your use of the Website that all the information you provide on the Website is correct, current, and complete.</span></p>
	<p class="c4"><span class="c0">YOU ARE SOLELY AND ENTIRELY RESPONSIBLE FOR YOUR USE OF THE WEBSITE AND YOUR COMPUTER, INTERNET AND DATA SECURITY.</span></p>
	<h4 class="c8" id="h.hcy9tehc8io5"><span class="c5">5. Prohibited Activities</span></h4>
	<p class="c4"><span class="c0">You may use the Website only for lawful purposes and in accordance with these Terms of Service. You agree not to use the Website:</span></p>
	<ul class="c3 lst-kix_2m9t0o5yifo1-0 start"><li class="c1 li-bullet-0"><span class="c0">In any way that violates any applicable federal, state, local or international law or regulation (including, without limitation, any laws regarding the exports of data software to and from the U.S. or other countries).</span></li><li class="c1 li-bullet-0"><span class="c0">For the purpose of exploiting, harming, or attempting to exploit or harm minors in any way by exposing them to inappropriate content, asking for personally identifiable information or otherwise.</span></li><li class="c1 li-bullet-0"><span class="c0">To send, knowingly receive, upload, download, use, or re-use any material that does not comply with the Submission Standards set out in these Terms of Service.</span></li><li class="c1 li-bullet-0"><span class="c0">To transmit, or procure the sending of, any advertising or promotional material, including any &quot;junk mail,&quot; &quot;chain letter,&quot; &quot;spam,&quot; or any other similar solicitation.</span></li><li class="c1 li-bullet-0"><span class="c0">To impersonate or attempt to impersonate the Company, a Company employee, another user, or any other persona or entity (including, without limitation, by using email addresses associated with any of the foregoing).</span></li><li class="c1 li-bullet-0"><span class="c0">To engage in any other conduct that restricts or inhibits anyone&#39;s use or enjoyment of the website, or which as determined by us, may harm the Company or users of the website, or expose them to liability.</span></li></ul>
	<p class="c4"><span class="c0">Additionally, you agree not to:</span></p>
	<ul class="c3 lst-kix_e0kf0eyg794g-0 start"><li class="c1 li-bullet-0"><span class="c0">Use the Website in any manner that could disable, overburden, damage, or impair the site or interfere with any other party&#39;s use of the Website, including their ability to engage in real-time activities through the Website.</span></li><li class="c1 li-bullet-0"><span class="c0">Use any robot, spider, or other automatic device, process, or means to access the Website for any purpose, including monitoring or copying any of the material on the Website.</span></li><li class="c1 li-bullet-0"><span class="c0">Use any manual process to monitor or copy any of the material on the Website, or for any other purpose not expressly authorized in these Terms of Service, without our prior written consent.</span></li><li class="c1 li-bullet-0"><span class="c0">Use any device, software, or routine that interferes with the proper working of the Website.</span></li><li class="c1 li-bullet-0"><span class="c0">Introduce any viruses, Trojan horses, worms, logic bombs, or other material that is malicious or technologically harmful.</span></li><li class="c1 li-bullet-0"><span class="c0">Attempt to gain unauthorized access to, interfere with, damage, or disrupt any parts of the Website, the server on which the Website is stored, or any server, computer, or database connected to the Website.</span></li><li class="c1 li-bullet-0"><span class="c0">Attack the Website via a denial-of-service attack or a distributed denial-of-service attack.</span></li><li class="c1 li-bullet-0"><span class="c0">Otherwise attempting to interfere with the proper working of the Website.</span></li></ul>
	<h4 class="c8" id="h.d0e4qm7lu2u7"><span class="c5">6. Intellectual Property Rights</span></h4>
	<p class="c4"><span class="c0">The Website and its entire contents, features, and functionality (including but not limited to all information, software, text, displays, images, video, and audio, and the design, selection, and arrangement thereof) are owned by the Company, its licensors, or other providers of such material and are protected by United States and international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.</span></p>
	<p class="c4"><span class="c0">These Terms of Service permit you to use the Website for your personal, non-commercial use only. You must not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store, or transmit any of the material on our Website, except as follows:</span></p>
	<ul class="c3 lst-kix_vtc8flivg2z8-0 start"><li class="c1 li-bullet-0"><span class="c0">Your computer may temporarily store copies of such material in RAM incidental to your accessing and viewing those materials.</span></li><li class="c1 li-bullet-0"><span class="c0">You may store files that are automatically cached by your Web browser for display enhancement purposes.</span></li><li class="c1 li-bullet-0"><span class="c0">You may print or download one copy of a reasonable number of pages of the Website for your own personal, non-commercial use and not for further reproduction, publication or distribution.</span></li></ul>
	<p class="c4"><span class="c0">You must not:</span></p>
	<ul class="c3 lst-kix_uo7wgjqjq74y-0 start"><li class="c1 li-bullet-0"><span class="c0">Modify copies of any materials from this site.</span></li><li class="c1 li-bullet-0"><span class="c0">Delete or alter any of the copyright, trademark, or other proprietary rights notices from copies of materials from this site.</span></li></ul>
	<p class="c4"><span class="c0">You must not access or use for any commercial purposes any part of the website or any services or materials available through the Website.</span></p>
	<p class="c4"><span class="c0">If you print, copy, modify, download, or otherwise use or provide any other person with access to any part of the Website in breach of the Terms of Service, your right to use the Website will stop immediately and you must, at our option, return or destroy any copies of the materials you have made. No right, title, or interest in or to the Website or any content on the Website is transferred to you, and all rights not expressly granted are reserved by the Company. Any use of the Website not expressly permitted by these Terms of Service is a breach of these Terms of Service and may violate copyright, trademark, and other laws.</span></p>
	<h4 class="c8" id="h.lrftkz60sede"><span class="c5">7. Our Rights</span></h4>
	<p class="c4"><span class="c0">We have the right, without provision of notice to:</span></p>
	<ul class="c3 lst-kix_2e6le8avszvs-0 start"><li class="c1 li-bullet-0"><span class="c0">Take appropriate legal action, including, without limitation, referral to or cooperation with law enforcement or regulatory authorities, or notifying the harmed party of any illegal or unauthorized use of the Website; and</span></li><li class="c1 li-bullet-0"><span class="c0">Terminate or suspend your access to all or part of the Website for any or no reason, including, without limitation, any violation of these Terms of Service.</span></li></ul>
	<p class="c4"><span class="c0">YOU WAIVE AND HOLD HARMLESS COMPANY AND ITS PARENT, SUBSIDIARIES, AFFILIATES, AND THEIR RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES, AGENTS, SERVICE PROVIDERS, CONTRACTORS, LICENSORS, LICENSEES, SUPPLIERS, AND SUCCESSORS FROM ANY AND ALL CLAIMS RESULTING FROM ANY ACTION TAKEN BY THE COMPANY AND ANY OF THE FOREGOING PARTIES RELATING TO ANY, INVESTIGATIONS BY EITHER THE COMPANY OR BY LAW ENFORCEMENT AUTHORITIES.</span></p>
	<h4 class="c8" id="h.2798sj6qttht"><span class="c5">8. Third-Party Links and Content</span></h4>
	<p class="c4"><span class="c0">For your convenience, this Website may provide links or pointers to third-party sites or third-party content. We make no representations about any other websites or third-party content that may be accessed from this Website. If you choose to access any such sites, you do so at your own risk. We have no control over the third-party content or any such third-party sites and accept no responsibility for such sites or for any loss or damage that may arise from your use of them. You are subject to any terms and conditions of such third-party sites.</span></p>
	<h4 class="c8" id="h.9etcrjs5mslp"><span class="c5">9. Online Orders</span></h4>
	<ul class="c3 lst-kix_3nwicm5nd7hx-0 start"><li class="c1 li-bullet-0"><span class="c0">All orders, purchases or transactions for the sales of goods, digital products, or information made using this Website are subject to the following additional terms and conditions of sale:</span></li></ul>
	<ul class="c3 lst-kix_3nwicm5nd7hx-1 start"><li class="c4 c9 li-bullet-0"><span class="c0">You may not order or obtain goods, digital products or information from this Website if you: (i) are prohibited from accessing or using this Website or any of this Website&#39;s contents, goods, digital products or information by applicable law or (ii) you are outside the geographic region where the goods, digital products or information are available for purchase;</span></li><li class="c4 c9 li-bullet-0"><span class="c0">You agree that your order is an offer to buy, under these Terms of Service, all goods, digital products, or information listed in your order. All orders must be accepted by us or we will not be obligated to sell such goods, digital products or information to you. We may choose not to accept orders at our sole discretion, even after we send you a confirmation email with your order number and details of the items you have ordered; and</span></li><li class="c4 c9 li-bullet-0"><span class="c0">All prices, discounts, and promotions posted on this Website are subject to change without notice. The price and currency charged for a goods, digital products or information will be the price and currency advertised on this Website at the time the order is placed, subject to the terms of any promotions or discounts that may be applicable. The price and currency charged will be clearly stated in the shopping cart before you confirm your purchase. Price increases will only apply to orders placed after the time of the increase. Posted prices do not include taxes or charges for shipping and handling. All such taxes and charges will be added to your total pricing and will be itemized in your shopping cart and in your order confirmation email. We strive to display accurate price information; however, we may, on occasion, make inadvertent typographical errors, inaccuracies, or omissions related to pricing and availability. We reserve the right to correct any errors, inaccuracies, or omissions at any time and to cancel any orders arising from such occurrences.</span></li></ul>
	<ul class="c3 lst-kix_3nwicm5nd7hx-0"><li class="c1 li-bullet-0"><span class="c0">Where an order indicates a license is being purchased:</span></li></ul>
	<ul class="c3 lst-kix_3nwicm5nd7hx-1 start"><li class="c4 c9 li-bullet-0"><span class="c0">All uses on this Website of the terms &quot;sell&quot;, &quot;sale&quot;, &quot;resell&quot;, &quot;resale&quot;, &quot;purchase&quot;, &quot;price&quot;, and the like mean the purchase or sale of a license;</span></li><li class="c4 c9 li-bullet-0"><span class="c0">Each good, digital product or information marketed as such on this Website is made available solely for license, not sale, to you and other prospective customers under the terms, conditions, and restrictions of the license Terms of Service posted with or made available to you at /license;</span></li><li class="c4 c9 li-bullet-0"><span class="c0">You will comply with all terms and conditions of the applicable license Terms of Service for any goods, digital products or information you obtain through this Website, and you will not cause, induce, or permit others&#39; non-compliance with the terms and conditions of any of license Terms of Services for the goods, digital products or information; and</span></li><li class="c4 c9 li-bullet-0"><span class="c0">Except for the limited license granted under the relevant license Terms of Service, nothing in these Terms of Service grants any right, title, or interest in or to (including any license under) any intellectual property rights in or relating to, the good, digital product or information, whether expressly, by implication, estoppel, or otherwise. All right, title, and interest in and to the good, digital product or information are and will remain with Company or its licensors, as applicable.</span></li></ul>
	<ul class="c3 lst-kix_3nwicm5nd7hx-0"><li class="c1 li-bullet-0"><span class="c0">Shipments &amp; Delivery.</span></li></ul>
	<ul class="c3 lst-kix_3nwicm5nd7hx-1 start"><li class="c4 c9 li-bullet-0"><span class="c0">We will arrange for shipment of the goods to you. Please check the individual product page for specific delivery options. You will pay all shipping and handling charges unless otherwise specified in the order confirmation.</span></li><li class="c4 c9 li-bullet-0"><span class="c0">Title and risk of loss pass to you upon our transfer of the products to the carrier/delivery. Shipping and delivery dates are estimates only and cannot be guaranteed. We are not liable for any delays in shipments.</span></li></ul>
	<h4 class="c8" id="h.3zsdj7re2mq7"><span class="c5">10. Payment and Fees</span></h4>
	<p class="c4"><span class="c0">You may be required to purchase or pay a fee to access our services. We accept Mastercard, Visa and American Express for all purchases. However, Company does not guarantee the availability of any payment method at any moment and Company may add, remove or suspend any payment method temporarily or permanently at Company&#39;s sole discretion. You agree to provide current, complete, and accurate purchase and account information for all purchases made via the Website and to promptly update account and payment information, including email address, payment method, and payment card expiration date, in order to complete your purchases and contact you as needed. Sales tax will be added to the price of purchases as deemed required by us. We may change prices at any time. All payments shall be in CAD.</span></p>
	<p class="c4"><span class="c0">You agree to pay all charges or fees at the prices then in effect for your purchases, and you authorize us to charge your chosen payment provider for any such amounts upon making your purchase.</span></p>
	<p class="c4"><span class="c0">We reserve the right to correct any errors or mistakes in pricing, even if we have already requested or received payment. We also reserve the right to refuse any order placed through the Website.</span></p>
	<h4 class="c8" id="h.5ex7x98iw1ex"><span class="c5">11. Return and Refund</span></h4>
	<p class="c4"><span class="c0">If you are not completely satisfied with your purchase, you may return it to us for a full refund, store credit or an exchange. All returned items must be in new and unused condition, with all original tags and labels attached. All returns must be postmarked within 30 day(s) of confirmation of delivery. A $100.00 USD restocking fee will be charged for all returns.</span></p>
	<p class="c4"><span class="c0">To process your return, securely place the item along with your proof of purchase and the return form in its original packaging and then mail your return to the following address:</span></p>
	<p class="c4"><span class="c0">Enzuzo, Inc.</span></p>
	<p class="c4"><span class="c0">Attn: Returns</span></p>
	<p class="c4"><span class="c0">200 Queen Street</span></p>
	<p class="c4"><span class="c0">Kitchener, ON, N2H 6T8</span></p>
	<p class="c4"><span class="c0">After receiving your return and inspecting the condition of your item, we will process your return. Please allow at least 30 day(s) from the receipt of your item to process your return. Upon completion of processing, we will deduct our shipping costs from the refund amount. Refunds may take 1-2 billing cycles to appear on your credit card statement.</span></p>
	<p class="c4"><span class="c0">If you have any questions concerning our return policy, please contact us at:</span></p>
	<p class="c4"><span class="c0">returns@timtsai.com</span></p>
	<h4 class="c8" id="h.scsktx9fygxv"><span class="c5">12. Disclaimers, Liability and Indemnification</span></h4>
	<p class="c4"><span class="c0">EXCEPT FOR THE LIMITED WARRANTIES AT /warranty , YOU UNDERSTAND AND AGREE THAT YOUR USE OF THE WEBSITE, ITS CONTENT, AND ANY GOODS, DIGITAL PRODUCTS, SERVICES, INFORMATION OR ITEMS FOUND OR ATTAINED THROUGH THE WEBSITE IS AT YOUR OWN RISK. THE WEBSITE, ITS CONTENT, AND ANY GOODS, SERVICES, DIGITAL PRODUCTS, INFORMATION OR ITEMS FOUND OR ATTAINED THROUGH THE WEBSITE ARE PROVIDED ON AN &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; BASIS, WITHOUT ANY WARRANTIES OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. THE FOREGOING DOES NOT AFFECT ANY WARRANTIES THAT CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.</span></p>
	<p class="c4"><span class="c0">YOU ACKNOWLEDGE AND AGREE THAT COMPANY OR ITS RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES, AGENTS, SERVICE PROVIDERS, CONTRACTORS, LICENSORS, LICENSEES, SUPPLIERS, OR SUCCESSORS MAKE NO WARRANTY, REPRESENTATION, OR ENDORSEMENT WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, SUITABILITY, ACCURACY, CURRENCY, OR AVAILABILITY OF THE WEBSITE OR ITS CONTENTS OR THAT ANY GOODS, SERVICES, DIGITAL PRODUCTS, INFORMATION OR ITEMS FOUND OR ATTAINED THROUGH THE WEBSITE WILL BE ACCURATE, RELIABLE, ERROR-FREE, OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT OUR WEBSITE OR THE SERVER THAT MAKES IT AVAILABLE OR CONTENT ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR DESTRUCTIVE CODE.</span></p>
	<p class="c4"><span class="c7">How We Limit Our Liability to You</span></p>
	<p class="c4"><span class="c0">EXCEPT WHERE SUCH EXCLUSIONS ARE PROHIBITED BY LAW, IN NO EVENT SHALL THE COMPANY NOR ITS RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES, AGENTS, SERVICE PROVIDERS, CONTRACTORS, LICENSORS, LICENSEES, SUPPLIERS, OR SUCCESSORS BE LIABLE UNDER THESE TERMS OF SERVICE TO YOU OR ANY THIRD-PARTY FOR ANY CONSEQUENTIAL, INDIRECT, INCIDENTAL, EXEMPLARY, SPECIAL, OR PUNITIVE DAMAGES WHATSOEVER, INCLUDING ANY DAMAGES FOR BUSINESS INTERRUPTION, LOSS OF USE, DATA, REVENUE OR PROFIT, COST OF CAPITAL, LOSS OF BUSINESS OPPORTUNITY, LOSS OF GOODWILL, WHETHER ARISING OUT OF BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), ANY OTHER THEORY OF LIABILITY, OR OTHERWISE, REGARDLESS OF WHETHER SUCH DAMAGES WERE FORESEEABLE AND WHETHER OR NOT THE COMPANY WAS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</span></p>
	<p class="c4"><span class="c7">Indemnification</span></p>
	<p class="c4"><span class="c0">To the maximum extent permitted by applicable law, you agree to defend, indemnify, and hold harmless Company, its parent, subsidiaries, affiliates, and their respective directors, officers, employees, agents, service providers, contractors, licensors, suppliers, successors, and assigns from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses, or fees (including reasonable attorneys&#39; fees) arising out of or relating to your breach of these Terms of Service or your use of the Website including, but not limited to, third-party sites and content, any use of the Website&#39;s content and services other than as expressly authorized in these Terms of Service or any use of any goods, digital products and information purchased from this Website.</span></p>
	<h4 class="c8" id="h.l2wvr0fvp17a"><span class="c5">13. Copyright Infringement</span></h4>
	<p class="c4"><span>We respect the intellectual property rights of others and expect our users to do the same. In accordance with the Digital Millennium Copyright Act, which can be found here</span><span><a class="c12" href="https://www.google.com/url?q=http://www.copyright.gov/legislation/dmca.pdf&amp;sa=D&amp;source=editors&amp;ust=1740251334935458&amp;usg=AOvVaw1XqMgtOCOEQQWPOnSckpOn">&nbsp;</a></span><span class="c13"><a class="c12" href="https://www.google.com/url?q=http://www.copyright.gov/legislation/dmca.pdf&amp;sa=D&amp;source=editors&amp;ust=1740251334935566&amp;usg=AOvVaw0WmNIKgKNuWEBZjx2yXAeQ">http://www.copyright.gov/legislation/dmca.pdf</a></span><span class="c0">, and specifically in accordance with 17 U.S.C. &sect; 512(c)(3), we will respond expeditiously to claims of copyright infringement committed using the Company Website if such claims are reported to Company&rsquo;s Designated Copyright Agent identified below.</span></p>
	<p class="c4"><span class="c0">If you are a copyright owner or authorized to act on behalf of one, please report alleged copyright infringements taking place on or through the Website by completing a DMCA Notice of Alleged Infringement and delivering it to Company&rsquo;s Designated Copyright Agent. Upon receipt of Notice as described below, we will take whatever action in our sole discretion as we deem appropriate, including removal of the challenged content from the Website. Please note that if you fail to comply with all of the requirements of this section and of 17 U.S.C. &sect; 512(c)(3), your DMCA notice may not be valid.</span></p>
	<ul class="c3 lst-kix_nxuk3huerspi-0 start"><li class="c1 li-bullet-0"><span class="c0">Identify the copyrighted work that you claim has been infringed, or if multiple copyrighted works are covered by your Notice, you may provide a representative list of the copyrighted works that you claim have been infringed.</span></li><li class="c1 li-bullet-0"><span class="c0">Identify the material or link you claim is infringing (or the subject of infringing activity) and to which access is to be disabled, including at a minimum, if applicable, the URL of the link shown on the Website or the exact location where such material may be found.</span></li><li class="c1 li-bullet-0"><span class="c0">Provide your company affiliation (if applicable), mailing address, telephone number, and, if available, email address.</span></li><li class="c1 li-bullet-0"><span class="c0">Include both of the following statements in the body of the Notice:</span></li></ul>
	<ul class="c3 lst-kix_nxuk3huerspi-1 start"><li class="c4 c9 li-bullet-0"><span class="c0">&quot;I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use).&quot;</span></li><li class="c4 c9 li-bullet-0"><span class="c0">&quot;I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of, the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed.&quot;</span></li></ul>
	<ul class="c3 lst-kix_nxuk3huerspi-0"><li class="c1 li-bullet-0"><span class="c0">Provide your full legal name and your electronic or physical signature.</span></li><li class="c1 li-bullet-0"><span class="c0">Deliver this Notice, with all items completed, to Company&rsquo;s Designated Copyright Agent:<br> Yogi R&#39; Us<br> Enzuzo, Inc.<br> 300 Prince St<br>Melbourne, NSW, 12345<br></span></li></ul>
	<p class="c4"><span class="c0">If you believe that your content that was removed (or to which access was disabled) is not infringing, or that you have authorization from the copyright holder, the holder&#39;s agent, or pursuant to law, to post and use the material in your content, you may send a counter-notice containing the following information to Enzuzo, Inc.&#39;s Copyright Agent:</span></p>
	<ul class="c3 lst-kix_y2y9lt6ntaac-0 start"><li class="c1 li-bullet-0"><span class="c0">Your physical or electronic signature;</span></li><li class="c1 li-bullet-0"><span class="c0">Identification of the content that was removed or to which access has been disabled as a result of mistake or a misidentification of the content; and</span></li><li class="c1 li-bullet-0"><span class="c0">Your name, address, telephone number, and email address, a statement that you consent to the jurisdiction of the federal court in Ontario, and a statement that you will accept service of process from the person who provided notification of the alleged infringement.</span></li></ul>
	<p class="c4"><span class="c0">If a counter-notice is received by the Copyright Agent, we may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed content or cease disabling it in ten business days. Unless the copyright owner files an action seeking a court order against Enzuzo, Inc. or the person who has posted allegedly infringing content, the removed content may be replaced, or access to it restored, in ten business days or more after receipt of the Counter-Notice.</span></p>
	<p class="c4"><span class="c0">Enzuzo, Inc. does not condone or tolerate copyright infringement or any violation of the intellectual property rights of Enzuzo, Inc. or of others. Enzuzo, Inc. reserves the right to terminate the access and/or use privileges of any person who has been determined to be a &#39;repeat infringer&#39; of the copyrights of Enzuzo, Inc. or others. Enzuzo, Inc. reserves the right to define the criteria by which Enzuzo, Inc. will determine that a person is a &#39;repeat infringer.&#39; In the event that &#39;repeat infringer&#39; is defined by statute, law, or regulation as applicable to 17 U.S.C. &sect; 512, Enzuzo, Inc. will adopt that definition as a minimum standard. Without limiting Enzuzo, Inc.&rsquo;s right to define &#39;repeat infringer,&#39; as a general rule, Enzuzo, Inc. will define a &#39;repeat infringer&#39; as any person or entity about whom Enzuzo, Inc. has received two or more DMCA Notices of Alleged Infringement. Enzuzo, Inc. will take into account all relevant facts and circumstances when determining whether or not termination of access and/or use privileges of a &#39;repeat infringer&#39; is appropriate.</span></p>
	<p class="c4"><span class="c0">REGARDLESS OF WHETHER ENZUZO, INC. TERMINATES ACCESS AND/OR USE PRIVILEGES OF ANY PERSON OR ENTITY, &#39;REPEAT INFRINGER&#39; OR OTHERWISE, ENZUZO, INC. IN NO WAY WAIVES ANY RIGHT TO PURSUE ANY AVAILABLE REMEDY AT LAW OR IN EQUITY AGAINST COPYRIGHT INFRINGERS OR ANY OTHER INTELLECTUAL PROPERTY RIGHTS VIOLATORS, NOR WILL ENZUZO, INC. INDEMNIFY OR PROVIDE LEGAL REPRESENTATION TO ANY ALLEGED INFRINGER IN ANY ACTION ARISING FROM THE ALLEGED INFRINGER&rsquo;S USE OF ANY ENZUZO, INC. WEBSITE OR SERVICE, EXCEPT AS EXPRESSLY DESCRIBED IN THIS NOTICE.</span></p>
	<h4 class="c8" id="h.xyd6laz3lv5g"><span class="c5">14. Privacy Policy</span></h4>
	<p class="c4"><span>Your provision of personal information through the Website is governed by our privacy policy located at /privacy-policy (the &quot;</span><span class="c11">Privacy Policy</span><span class="c0">&quot;).</span></p>
	<h4 class="c8" id="h.vv1wzzfepwge"><span class="c5">15. Governing Law</span></h4>
	<p class="c4"><span class="c0">The Website and these Terms of Service will be governed by and construed in accordance with the laws of the Province of Ontario and any applicable federal laws applicable therein, without giving effect to any choice or conflict of law provision, principle, or rule and notwithstanding your domicile, residence, or physical location. Any action or proceeding arising out of or relating to this Website and/or under these Terms of Service will be instituted in the courts of the Province of Ontario, and each party irrevocably submits to the exclusive jurisdiction of such courts in any such action or proceeding. You waive any and all objections to the exercise of jurisdiction over you by such courts and to the venue of such courts.</span></p>
	<p class="c4"><span class="c0">The parties agree that the United Nations Convention on Contracts for the International Sale of Goods will not govern these Terms of Service or the rights and obligations of the parties under these Terms of Service.</span></p>
	<h4 class="c8" id="h.bsxf9888xofs"><span class="c5">16. Severability</span></h4>
	<p class="c4"><span class="c0">If any provision of these Terms of Service is illegal or unenforceable under applicable law, the remainder of the provision will be amended to achieve as closely as possible the effect of the original term and all other provisions of these Terms of Service will continue in full force and effect.</span></p>
	<h4 class="c8" id="h.6vqiv0y17tom"><span class="c5">17. Entire Terms of Service</span></h4>
	<p class="c4"><span class="c0">These Terms of Service constitute the entire and only Terms of Service between the parties in relation to its subject matter and replaces and extinguishes all prior or simultaneous Terms of Services, undertakings, arrangements, understandings or statements of any nature made by the parties or any of them whether oral or written (and, if written, whether or not in draft form) with respect to such subject matter. Each of the parties acknowledges that they are not relying on any statements, warranties or representations given or made by any of them in relation to the subject matter of these Terms of Service, save those expressly set out in these Terms of Service, and that they shall have no rights or remedies with respect to such subject matter otherwise than under these Terms of Service save to the extent that they arise out of the fraud or fraudulent misrepresentation of another party. No variation of these Terms of Service shall be effective unless it is in writing and signed by or on behalf of Company.</span></p>
	<h4 class="c8" id="h.o84s7d74mr2p"><span class="c5">18. Waiver</span></h4>
	<p class="c4"><span class="c0">No failure to exercise, and no delay in exercising, on the part of either party, any right or any power hereunder shall operate as a waiver thereof, nor shall any single or partial exercise of any right or power hereunder preclude further exercise of that or any other right hereunder.</span></p>
	<h4 class="c8" id="h.7lyo08oay9ub"><span class="c5">19. Notice</span></h4>
	<p class="c4"><span class="c0">We may provide any notice to you under these Terms of Service by: (i) sending a message to the email address you provide to us and consent to us using; or (ii) by posting to the Website. Notices sent by email will be effective when we send the email and notices we provide by posting will be effective upon posting. It is your responsibility to keep your email address current.</span></p>
	<p class="c4"><span class="c0">To give us notice under these Terms of Service, you must contact us as follows: (i) by personal delivery, overnight courier or registered or certified mail to Enzuzo, Inc., 100 Main Street, Waterloo, Ontario, N2G 4X8. We may update the address for notices to us by posting a notice on this Website. Notices provided by personal delivery will be effective immediately once personally received by an authorized representative of Company. Notices provided by overnight courier or registered or certified mail will be effective once received and where confirmation has been provided to evidence the receipt of the notice.</span></p>
	<p class="c4"><span class="c0">Last Updated: &nbsp;12/05/2022</span></p>
</body>
</html>