@inject ApplicationDbContext _dbContext;

@page "/trainer-appointment-list";
@using GymSync.Components;
@using GymSync.Data;
@using GymSync.Models;
@using GymSync.Views;
@using Microsoft.EntityFrameworkCore;


<h3>TrainerAppointmentList</h3>

<body>

</body>

@code {

}
