@inject ApplicationDbContext DbContext;

@page "/equipment-availability"

@using GymSync_Interface_v2.Data;
@using GymSync_Interface_v2.Models;
@using GymSync_Interface_v2.Views;
@using GymSync_Interface_v2.Components;
@using Microsoft.EntityFrameworkCore;


<link href="Style.css" rel="stylesheet" />

<style>
	/* Loading Dots:                                        */
	/* Source: https://10015.io/tools/css-loader-generator  */

	.dots {
		width: 88px;
		height: 42.2px;
		background: radial-gradient(circle closest-side,#5be1e6 90%,#0000) 0% 50%, radial-gradient(circle closest-side,#5be1e6 90%,#0000) 50% 50%, radial-gradient(circle closest-side,#5be1e6 90%,#0000) 100% 50%;
		background-size: calc(100%/3) 21.1px;
		background-repeat: no-repeat;
		animation: dots-7ar3yq 1s infinite linear;
	}

	@@keyframes dots-7ar3yq {
		20% {
			background-position: 0% 0%, 50% 50%,100% 50%;
		}

		40% {
			background-position: 0% 100%, 50% 0%,100% 50%;
		}

		60% {
			background-position: 0% 50%, 50% 100%,100% 0%;
		}

		80% {
			background-position: 0% 50%, 50% 50%,100% 100%;
		}
	}
</style>

<PageTitle>GymSync Equipment Availability</PageTitle>
<h1>Equipment Availability</h1>
This page has a list of all gym equipment and its current availability.


@if (!_ready)
{
	<p><br /><br /><div class="dots"></div><br /><br /></p>
}
else
{
	<table class="equipment-table">

		<thead>
			<tr>
				<th>Equipment Id</th>
				<th>Equipment Name</th>
				<th>Location</th>
				<th>In Use</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var gymEquipment in _gymEquipmentList)
			{
				<tr>
					<td>@gymEquipment.EquipmentID</td>
					<td>@gymEquipment.Name</td>
					<td>@gymEquipment.Location</td>
					@if (gymEquipment.InUse)
					{
						<td class="td-inuse">In Use</td>
					}
					else
					{
						<td class="td-notinuse">Open</td>
					}


				</tr>
			}
		</tbody>

	</table>
}

@code {
	private Query _query;
	private bool _ready;

	private List<EquipmentEntity> _equipmentList = [];
	private List<ItemEntity> _itemList = [];

	private List<EquipmentView> _gymEquipmentList = [];

	protected override async Task OnInitializedAsync()
	{
		_ready = false;

		_query = new Query(DbContext);

		//Get all the items and their information from the Equipment table in the database
		_equipmentList = await _query.EquipmentToEquipmentAll();

		//Get the information from the item table from the cross reference
		//Use the equipmentID from the equipment list to access the cross reference and llookup the data in the Item table
		foreach (var equipment in _equipmentList)
		{
			//This gives a "possible null reference warning, but it should not be an issue because of the way it is written
			_itemList.Add(await _query.EquipmentToItem(equipment.equipment_id));
		}

		//Merge the two lists into a list for the equipment view
		for (int i = 0; i < _equipmentList.Count; i++)
		{
			//Local EquipmentView item for the new list
			EquipmentView newEquipment = new EquipmentView(
				_equipmentList[i].equipment_id,
				_itemList[i].item_name,
				_equipmentList[i].location_name,
				_equipmentList[i].in_use);

			_gymEquipmentList.Add(newEquipment);

		}

		_ready = true;
	}

}